.emoji-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.meh{background-image:url(https://twemoji.maxcdn.com/2/72x72/1f61e.png);}
.medium{background-image:url(https://twemoji.maxcdn.com/2/72x72/1f610.png);}
.happy{background-image:url(https://twemoji.maxcdn.com/2/72x72/1f60d.png);}
.angry{background-image:url(https://twemoji.maxcdn.com/2/72x72/1f620.png);}
.smile{background-image:url(https://twemoji.maxcdn.com/2/72x72/1f604.png);}


.emoji{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1) grayscale(0.2) opacity(.9);
       -moz-filter: brightness(1) grayscale(0.2) opacity(.9);
            filter: brightness(1) grayscale(0.2) opacity(.9);
}
.emoji:hover{
    -webkit-filter: brightness(1) grayscale(0) opacity(1);
       -moz-filter: brightness(1) grayscale(0) opacity(1);
            filter: brightness(1) grayscale(0) opacity(1);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
* { font-family:monospace; }
.cc-selector-2 input{ margin: 5px 0 0 12px; }
.cc-selector-2 label{ margin-left: 7px; }
span.cc{ color:#6d84b4 }